.btn {
    margin-right:2%
}

.main {
    width: 70%;
    background-color: #dcdee2;
    border-radius: 10px;
    padding: 5%;
    margin: auto;
}


.chart {
    width: 60%;
    float: right !important;
}

.choices {
    width: 20%;
    float: left !important;
}

ul {
    margin-right: 2% !important;
}

#charts {
    margin-top: 2% !important;
}

#vote {
    margin-top: 5%;
}

#novote {
    color: red;
    margin-top: 2% !important;
}