doctype html
html
  include head.pug
  
block header
    nav(class="navbar navbar-default")
        div(class="container-fluid")
        p(class="navbar-text")
            a(href="/") Voting App 
        a(href="/auth/github")
            button(type="button" class="btn btn-default navbar-btn navbar-right") Sign in with GitHub 
                image(src="/img/github.png")
